#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 250px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.699);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.text-control {
    font-size: 25px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    max-width: 800px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header button {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border: none;
    background-color: #901c1c00;
    transform: translateX(-30px);
}

.modal header button img {
    width: 42px;
    height: 42px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.text-control-message {
    height: 170px;
}

.photograph-img img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 50px;
}

.info {
    display: flex;
    margin-left: 50px;
}

section h2 {
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
    margin-bottom: 0px;
    margin-top: 0px;
}

section h3 {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin-top: 0px;
}

section p {
    font-weight: 400;
    font-size: 18px;
    color: #525252;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 60px 100px;
    background-color: #FFF;
    border: none;
}

.btn-img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.btn-mp4 {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.container {
    display: flex;
    align-items: baseline;
    max-width: 350px;
    width: 350px;
    position: relative;
}

.title-img {
    color: #901C1C;
    font-weight: 400;
    font-size: 24px;
    margin-top: 5px;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-like {
    background-color: white;
    border: none;
    font-weight: 500;
    font-size: 24px;
    color: #901C1C;
    position: absolute;
    right: 0;
}

.img-like {
    width: 17.5px;
    height: 18.5px;
    margin-left: 10px;
}

.btn-like img {
    width: 17.5px;
    height: 18.5px;
    margin-left: 10px;
}

.info-photographer {
    display: flex;
    justify-content: space-around;
    background-color: #DB8876;
    width: 376px;
    color: #000000;
    font-weight: 500;
    border-radius: 5px;
    position: sticky;
    right: 30px;
    bottom: -5px
}

.info-like {
    display: flex;
    font-size: 24px;
    color: #000000;
}

.info-like img {
    margin-left: 3px;
    width: 17px;
}

.info-prix {
    font-size: 24px;
    color: #000000;
}

.infoPhotographerDisplay {
    display: flex;
    justify-content: space-around;
    width: 376px;
    height: 89px;
    background-color: #DB8876;
    border-radius: 5px;
    font-size: 24px;
    color: #000000;
    position: fixed;
    bottom: -15px;
    right: 30px;
}

.likesContainer {
    font-size: 24px;
    color: #000000;
    font-weight: 500;
    margin-right: 6px;
}

.likesInfoPhotographer {
    display: flex;
    font-size: 24px;
    color: #000000;
    align-items: baseline;

}

.logoLikes {
    width: 17.5px;
    height: 18.35px;
}

.nav {
    display: flex;
    margin-left: 100px;
    margin-top: 40px;
    align-items: center;
}

#nav-text {
    margin-right: 10px;
    font-size: 18px;
}

#nav-select {
    background-color: #911C1C;
    color: #FFFF;
    width: 170px;
    height: 69px;
    font-size: 18px;
    border-radius: 5px;
}

.nav-option {
    width: 170px;
    margin-bottom: 20px;
    border-radius: 0%;
}

#menu {
    text-align: left;
    border: none;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    color: white;
    background-color: #911C1C;
    font-size: 18px;
    font-weight: 700;
    margin: none;
    box-sizing: border-box;
}

#menuItem {
    list-style: none;
    padding: 5px;
}

.nav-item {
    border-top: 1px solid white;
    padding: 10px;
}

.fa-solid {
    margin-left: 40px;
}

.icon-arrow {
    display: block;
    transform: rotate(-90deg);
    width: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.63);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-lightbox {
    position: fixed;
    font-size: 24px;
    font-weight: 400;
    color: #D3573C;
    bottom: 10%;
    left: calc(((100% - 1050px) / 2));
}

.img-ligthbox {
    width: 100%;
    height: 100%;
    max-width: 1050px;
    max-height: 900px;
    object-fit: cover;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 15%;
    right: calc(((100% - 1050px) / 2) - 60px);
    color: #DB8876;
    background-color: #00000000;
    cursor: pointer;
    border: none;
    font-size: 30px;
}

.previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(((100% - 1050px) / 2) - 60px);
    color: #DB8876;
    background-color: #00000000;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 48px;
}

.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(((100% - 1050px) / 2) - 60px);
    color: #DB8876;
    background-color: #00000000;
    cursor: pointer;
    border: none;
    font-size: 30px;
}